// Navigation code here
.navigation {
    text-align: center;
    .flex();
    flex-direction: column;
    .nav-bg-border();

    h1 {
        padding: 0.5% 0;
        font-size: 4.0rem;
    }

    .nav-items {
        width: 30%;
        .flex();
        justify-content: space-evenly;
        padding-bottom: 1%;

        .nav-item {
            text-decoration: none;
            color: @nav-font;
            font-size: 1.5rem;
        }
    }
}