// Navigation code here
.navigation {
    text-align: center;
    .flex();
    flex-direction: column;
    .nav-bg-border();
    overflow: hidden;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    margin-bottom: -55%;

    h1 {
        padding: 0.5% 0;
        font-size: 4.0rem;
    }

    .nav-items {
        width: 43.0rem;
        .flex();
        justify-content: space-evenly;
        padding-bottom: 1%;

        @media @phone {
            width: 43.0rem;
        }

        .nav-item {
            text-decoration: none;
            color: @nav-font;
            font-size: 1.5rem;
        }
    }
}